details {
    transition: all 300ms ease;


}

details[open]{

    transition: all 300ms ease;
}

.post-card {
    background: var(--surface);
    opacity:0.9;
    color:var(--text);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 15px;
    position: relative;
    border-radius:10px;
}


.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-title {
    margin: 0;
    font-size: 1.25em;
    flex: 1; /* Allows the title to take available space */
}

.post-date {
    color: #666;
    margin: 0 2em;
}

summary::before,
summary::after {
    transition: 200ms;
}


summary {
    position: relative;
    cursor:pointer;
}
summary::marker {
    content: none;
}
summary::before,
summary::after {
    content: '';
}
summary::before,
summary::after {
    width: 1.5em;
    height: 0;
    border-bottom: .2em solid;
    position: absolute;
    top: calc(50% - .1em);
    right: 0;
    transform: translateY(-50%);
}
summary::after {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
}
[open] summary::after {
    transform: rotate(0deg);
}

.post-content {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    overflow: hidden;
}


.read-more {
    display: block;
    margin-top: auto;
    color: var(--foam);
    text-decoration: none;
    text-align: center;
}

.read-more:hover {
    text-decoration: underline;
}


