#sidebarMenu {
    height: 100vh;
    position: absolute;
    left: 0;
    top:0;
    width: min(70%, 500px); /* Changed from 250px to 20vw for responsiveness */
    margin-top: max(70px, 7vh); /* Changed from 60px to 5vh for responsiveness */
    transform: translateX(-100%);
    transition: transform 200ms ease-in-out;
    background: linear-gradient(180deg, var(--overlay), var(--subtle));
    z-index: 999; /* High z-index to make sure it is on top */
}
.sidebarMenuInner{
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--text);
    opacity(50%)
}

.sidebarMenuInner li{
    list-style: none;
    /* color: var(--text); */
    text-transform: uppercase;
    font-weight: bold;
    padding: 1.5em; /* Changed from 20px to 1.5em */
    cursor: pointer;
    border-bottom: 1px solid var(--text);
    border-opacity: 50%;
}

.sidebarMenuInner li span{
    display: block;
    font-size: 0.875rem; /* Changed from 14px to 0.875rem */
    /* color: var(--text); */
    opacity: 50%;
}
.sidebarMenuInner li a{
    color: var(--text);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1000; /* Higher z-index than the sidebar */
    height: 100%; /* Changed from 22px to 2.2vh */
    aspect-ratio: 1/1; /* Changed from 22px to 2.2vh */
    border-radius: 10%;
    /* align-items: center; */
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: .5em .5em;

}

/* Hover effect for Sidebar Icon Toggle */
.sidebarIconToggle:hover .spinner {
    background-color: var(--love); /* Change spinner background on hover */
}


.sidebarIconToggle:hover {

    background-color: var(--highlightMed);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    height: min(3px,5%); /* Changed from 3px to 0.3vh */
    width: 100%;
    background-color: var(--text);
}



.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
    /* margin-top: 0.4vh; /* Changed from 3px to 0.3vh */ */ */
}
.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    /* margin-top: 0.4vh; /* Changed from 3px to 0.3vh */ */ */
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg); 
    /* margin-top: -20%; /* Changed from 8px to 0.8vh */ */
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    /* margin-top: -20%; /* Changed from -9px to -0.9vh */ */ */
}

/* When the checkbox is checked */
input[type="checkbox"]:checked ~ .sidebarIconToggle {
    justify-content: center; /* Change to center when checked */
    align-content: center;
}

